<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cins</title>

  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/datepicker3.css" rel="stylesheet">
  <link href="css/stylebate.css" rel="stylesheet">

  <!--[if lt IE 9]>
  <script src="js/html5.min.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->

</head>

<body >
<!--设置背景-->
<div class="container">
  <div class="row">
    <div class="navbar  navbar-fixed-top" role="navigation" id="menu-nav">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">切换导航</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Demo</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href=index.html>首页</a></li>
          <li><a href="#">分类</a></li>
          <li><a href="#" data-toggle="modal" data-target="#about-modal">关于</a></li>
        </ul>
        <div class="col-lg-6" id="search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." id="input1">
      <span class="input-group-btn">
        <button class="btn btn-default" id="searched" type="button">Go!</button>
      </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-4 col-lg-3 sidebar">
  <div class="nav menu">
    <div class="sid-menu col-sm-12 col-lg-12"><a href="index.html">
      <span class="glyphicon glyphicon-dashboard"></span>
      事件分类</a>
    </div>
    <div id="left"></div>
  </div>
  <div class="login"><a href="login.html"><span class="glyphicon glyphicon-user"></span> Login Page</a></div>
</div>
<!--/.sidebar-->
<div class="col-sm-8 col-lg-9" >
  <div id="right">
    </div>
  <div id="loadmore" class="dv_thing">
    <span>加载更多</span>
  </div>
</div>
<!-- 关于 -->
<div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span
            aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
        <h4 class="modal-title" id="modal-label">关于</h4>
      </div>
      <div class="modal-body">
        <p>CINs实验室研发</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/ejs.js"></script>
<script src="js/public.js"></script>
<script src="js/jquery.js"></script>
<script src="js/ul.js"></script>

<script id="left_event" type="text/template">
  <% for(var i=0;i< event.length ;i++){ %>
  <div class="rect" id="<%= event[i].Id %>" onclick="change(this.id)">
    <p> <%= event[i].Name %></p>
  </div>
  <% } %>
</script>
<script id="right_event" type="text/template">
  <% for(var i=0;i< thing.length ;i++){ %>
  <div class="dv_thing" id="thing_<%= thing[i].Id %>" onclick="clickEvent(this.id)">
    <img src="http://119.6.203.96/img/<%=thing[i].Image %>" onerror="javascript:this.src='img/bg2.jpg'">

    <div class="center">
      <h6><%= thing[i].Title %></h6>

      <p class="info"><span>事件趋势:<%= thing[i].Status%></span><span class="tags">事件标签:<%= thing[i].Labels%></span></p>

      <p class="desc"><%= thing[i].Content%></p>
    </div>
    <div class="right">
      <span>影响力指数:</span>
      <span class="num"><%= thing[i].Value%></span>
    </div>
  </div>
  <% } %>
</script>
<script type="text/javascript">
  var typeclass=-1,pageid=0;
  var page=[];
  var Event="event";
  page[0]=0;
  function clickEvent(id){ window.location.href="cont_page.html?id=" + id.substr(6) ;}
  $("#input1").keydown(function(){
    if(event.keyCode==13)
    {
      $("#searched").click();
    }
          });
  $("#loadmore").click(function(){
    var t = {page:page[pageid],class:typeclass};
    var ejs_right = $("#right_event").html();
    //alert(Event);
    $.ajax({
      url: serverurl,
      dataType: "jsonp",
      data: {key: Event, data: JSON.stringify(t)},
      type: 'get',
      jsonpCallback: 'callback',
      success: function (event) {
        if (event.error == 0) {
          console.log(event);
          var dt = event.data;
          var events = dt.events;
          var ejsevent = [];
          for (var j = 0; j < events.length; j++) {
              var sun = {
                Id: events[j].id, Cls: events[j].cls, Title: events[j].title,
                Status: events[j].status, Labels: events[j].labels, Value: events[j].value,
                Content: events[j].content, Image: events[j].img
              };
              ejsevent.push(sun);
            }
          }
          var htm = ejs.render(ejs_right, {thing: ejsevent});
          $("#right:last").append(htm);
      },
      error: function (xhr, status, error) {
        alert("连接服务器失败!");
      }
    });
    page[pageid]++;
  });
  function change1()
  {
    this.siblings().css("background-color", "#172935");
    this.css("background-color","#1467f4");
  };
  function change(ID) {
    var ejs_right = $("#right_event").html();
    var t= {page:page[ID],class:ID};
    $.ajax({
      url: serverurl,
      dataType: "jsonp",
      data: {key: "event",data: JSON.stringify(t)},
      type: 'get',
      jsonpCallback: 'callback',
      success: function (event) {
        console.log(event);
        if (event.error == 0) {
          var dt = event.data;
          var events = dt.events;
          var ejsevent = [];
          for (var j = 0; j < events.length; j++) {
            if (events[j].cls == ID) {
              var sun = {
                Id: events[j].id, Cls: events[j].cls, Title: events[j].title,
                Status: events[j].status, Labels: events[j].labels, Value: events[j].value,
                Content: events[j].content, Image: events[j].img
              };
              ejsevent.push(sun);
            }
          }
          var htm = ejs.render(ejs_right, {thing: ejsevent});
          right.innerHTML = htm;
        }
      },
      error: function (xhr, status, error) {
        alert("连接服务器失败!");
      }
    });
    typeclass=ID;
    pageid=ID;
    event="event";
  }
  onload = function () {
    var ejs_left = $("#left_event").html();
    var ejs_right = $("#right_event").html();
    var t= {page:page[0],class:typeclass};
    $.ajax({
      url:serverurl,
      dataType: "jsonp",
      data: {key: "event", data: JSON.stringify(t)},
      type: 'get',
      jsonpCallback: 'callback',
      success: function (event) {
        console.log(event);
        if (event.error == 0) {
          var dt = event.data;
          var cls = dt.eClass;
          var events = dt.events;
          var ejsData = [];
          var ejsevent = [];
          for (var i = 0; i < cls.length; i++) {
            var line = {Id: cls[i].id, Name: cls[i].name};
            page[cls[i].id]=0;
            ejsData.push(line);
          }
          page[page.length]=0;
          for (var j = 0; j < events.length; j++) {
            if (events[j].cls == 1) {
              var sun = {
                Id: events[j].id, Cls: events[j].cls, Title: events[j].title,
                Status: events[j].status, Labels: events[j].labels, Value: events[j].value,
                Content: events[j].content, Image: events[j].img
              };
              ejsevent.push(sun);
            }
          }

          var html = ejs.render(ejs_left, {event: ejsData});
          var htm = ejs.render(ejs_right, {thing: ejsevent});
          left.innerHTML = html;
          right.innerHTML = htm;
        }
      },
      error: function (xhr, status, error) {
        alert("连接服务器失败!");
      }
    });
    page[0]++;
  };
</script>
<script type="text/javascript">
  $("#searched").click(function(){
    var bal=$("input").val();
    if(bal=="")
    {
      alert("输入不能为空");
      return;
    }
    var t = {page:page[page.length],text:bal};
    var ejs_right = $("#right_event").html();
    $.ajax({
      url: serverurl,
      dataType: "jsonp",
      data: {key: "eventSearch", data: JSON.stringify(t)},
      type: 'get',
      jsonpCallback: 'callback',
      success: function (event) {
        if (event.error == 0) {
          console.log(event);
          var dt = event.data;
          var events = dt.events;
          var ejsevent = [];
          for (var j = 0; j < events.length; j++) {
              var sun = {
                Id: events[j].id, Cls: events[j].cls, Title: events[j].title,
                Status: events[j].status, Labels: events[j].labels, Value: events[j].value,
                Content: events[j].content, Image: events[j].img
              };
              ejsevent.push(sun);
          }
          var htm = ejs.render(ejs_right, {thing: ejsevent});
          right.innerHTML = htm;

        }
      },
      error: function (xhr, status, error) {
        alert("连接服务器失败!");
      }
    });
    Event="eventSearch";
  });
  </script>
</body>

</html>
